canvas {
  display: block; /*Превращаем canvas в блочный элемент*/
  border: 2px solid black; /* Устанавливаем рамку вокруг элемента canvas */
  background-image: url("background.png"); /* Устанавливаем фоновое изображение для элемента canvas */
  background-size: cover; /* Устанавливаем размер фонового изображения так, чтобы оно полностью покрывало элемент canvas */
}

.app {
  display: flex; /* Используем flexbox для управления расположением элементов */
  justify-content: center; /* Выравниваем элементы по горизонтали по центру */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
}

/* Стили для блока окончания игры */
.end-game {
  position: absolute; /* Позиционирование блока абсолютно */
  backdrop-filter: blur(
    10px
  ); /* Применение размытия заднего фона с помощью фильтра */
  width: 100%; /* Ширина блока 100% */
  height: inherit; /* Высота блока равна высоте родительского элемента */
  display: flex; /* Использование flex-контейнера для управления расположением элементов */
  justify-content: center; /* Выравнивание дочерних элементов по горизонтали по центру */
  align-items: center; /* Выравнивание дочерних элементов по вертикали по центру */
  visibility: hidden; /* Начальная видимость блока скрыта */
}

/* Стили для диалогового окна */
.dialog {
  padding: 20px; /* Отступы внутри диалогового окна */
  width: 60%; /* Ширина диалогового окна 60% */
  border: 3px solid black; /* Толщина и цвет рамки диалогового окна */
  border-radius: 8px; /* Закругление углов диалогового окна */
  display: flex; /* Использование flex-контейнера для управления расположением элементов */
  align-items: center; /* Выравнивание дочерних элементов по вертикали по центру */
  flex-direction: column; /* Расположение элементов в столбец */
  background-color: black; /* Цвет фона диалогового окна */
  opacity: 0.8; /* Прозрачность диалогового окна */
  font-size: 28px; /* Размер шрифта текста в диалоговом окне */
  color: white; /* Цвет текста в диалоговом окне */
}

/* Стили для кнопки перезапуска игры */
.restart {
  outline: none; /* Удаление обводки у кнопки */
  background-color: black; /* Цвет фона кнопки */
  border: 3px solid white; /* Толщина и цвет рамки кнопки */
  border-radius: 8px; /* Закругление углов кнопки */
  font-size: 18px; /* Размер шрифта текста кнопки */
  padding: 5px 10px; /* Внутренние отступы кнопки */
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
  color: white; /* Цвет текста кнопки */
}

/* Класс для открытия блока окончания игры */
.end-game__open {
  visibility: visible; /* При добавлении этого класса блок становится видимым */
}
